<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fruitkha - News</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Product price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${orders}">
                <th scope="row" th:text="${item.id}">1</th>
                <th scope="row" th:text="${item.product.name}">1</th>
                <td th:text="${item.product.price}">Mark</td>
<!--                <td th:text="${item.phoneNumber}">Otto</td>-->
                <td th:text="${item.price}">@mdo</td>
                <td th:text="${item.quantity}">@mdo</td>
                <td th:text="${item.product.category.name}">@mdo</td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
</body>
</html>